[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"

lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"

# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_buffer_pool_size = 1G

innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 256M
innodb_file_per_table = 1

max_connections = 200
thread_cache_size = 16

query_cache_type = 1
query_cache_size = 64M

key_buffer_size = 128M

performance_schema = OFF
